body{
   background-image: linear-gradient(to bottom, #000000, #0f0307, #18070e, #1f0a15, #250d1a, #281325, #291932, #25213e, #112f4c, #003c52, #004850, #135249);
   color: rgb(231, 210, 210);
   font-family: Kanit,sans-serif;
   font-size: unset;
}

.catius-img{
    width: 320px;
    height: 400px;
    padding: 0.5rem 0;
    border-radius: 15px;

}

ul{
    width: 900px;
}

nav{
    font-family: Kanit,sans-serif;
}
.navbar-brand{
 font-weight: bolder;
 font-size: 1.5rem;
 color: rgb(228, 228, 237);
 margin-left: 1rem;
}
.navbar-brand:hover{
    color: rgba(166, 182, 20, 0.97);
}
.navbar-toggler-icon{
    background-color: white;
    
}

.navbar-toggler-icon:hover{
    background-color: rgba(166, 182, 20, 0.97);
    
}
.nav-link{
 font-weight: bold;
 font-size: 1.3rem;
 display: inline-block;
 position: relative;
 color:rgb(228, 228, 237);

}

.navbar-collapse{
    margin-left: 1rem;
}
.nav-link::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(133, 133, 9, 0.685);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover{
    color: rgba(166, 182, 20, 0.97);
}
.nav-link:hover::after{
    transform: scaleX(1);
  transform-origin: bottom left;
}
.intro{
  font-family: Playpen Sans,sans-serif; 
  padding-left: 1rem;
  padding-right:1rem ;
  font-weight: bold;
  color: #d6e3e8d6;
  
.intro-section{
    
    background-image: linear-gradient(to left bottom, #22242b, #324352, #3a6577, #408b97, #51b2ae);
    border-radius: 15px;
    margin: 2rem 1rem;
    
}


.navbar-nav{
    
    justify-content: space-between;
}

@media(min-width:768px){
.intro{font-size: 1.5rem;}
}

.edu-title{
    text-shadow: 0.1px 0.1px black;
}

.edu-content{
  text-align: left;
}

@media(max-width:768px){
   .edu-content{
    font-size: 0.1rem;

   }
}

.content-container{
    margin: 4rem 2rem;
}

.footer{
    background-image: linear-gradient(to bottom, #0b1b38, #004d67, #338387, #80b99c, #dcebb6);
}



